/*  Project Values

    font-family: "Josefin Sans", sans-serif;
    font-family: "Inter", sans-serif; 
    background: #1B1924
    input fill: #444059
    input text: #8F8F8F
    button fill: #28A9F1
    button text: #04131C
    endorsement text: #1B1924
    white: #FFFFFF
*/


/* Basic Styles */

* {
    box-sizing: border-box;
}

html body {
    margin: 0;
    padding: 0;
    background-color: #444059;
    font-family: "Inter", sans-serif;
}

h1, h2 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    color: #FFFFFF;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 20px;
    margin: 0;
}

.radius {
    border-radius: 8px;
}

.bold {
    font-weight: 700;
}


/* Element Styles */

.container {
    width: 390px;
    max-height: 96vh;
    margin: 20px auto;
    padding: 51px 36px 0;
    background-color: #1B1924;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-bottom: 13px solid #1B1924;
}

#freddie {
    width: 90px;
}

textarea {
    width: 100%;
    font-family: "Inter", sans-serif;
    color: #8F8F8F;
    background-color: #444059;
    border: none;
    resize: none;
}

#endoresement-input {
    min-height: 118px;
    padding: 12px 17px;
}

.from-to {
    margin-top: 9px;
    display: flex;
    gap: 9px;
}

.from-to textarea {
    height: 40px;
    text-align: center;
    line-height: 35px;
}

button {
    width: 100%;
    min-height: 61px;
    margin: 9px 0 19px;
    background-color: #28A9F1;
    color: #04131C;
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 700;
    border: none;
}

button:hover {
    border: 2px solid white;
}

button:active {
    transform: scale(1.05);
}

ul {
    width: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 13px;
    
}

li {
    color: #1B1924;
    background-color: #FFFFFF;
    padding: 13px 16px;
}

